<script type="text/javascript" charset="utf-8">

counterpub = 0;
counterref=0;
countercont=0;
counter_fname = 1;
counter_lname = 1;
counter_mname = 1;
counter_email = 1;
counter_inst = 1;
counter_dropdown = 1;
        function addFields(id) {
            // Get the main Div in which all the other divs will be added
            var mainContainer = document.getElementById(id);
            // Create a new div for holding text and button input elements
            var newDiv = document.createElement('div');
            // Create a new text input
            var newText = document.createElement('input');
            newText.type = "input"; 
            newText.maxlength = "300"; 
            newText.maxlimit = "300"; 
            newText.size = "30"; 
	    if(id == "fname_addn") {newText.name = "fname" + counter_fname;
		counter_fname++;}
	    if(id == "lname_addn") { newText.name = "lname" + counter_lname; 
		counter_lname++;}
	    if(id == "mname_addn"){ newText.name = "mname" + counter_mname;  
		counter_mname++;}
	    if(id == "email_addn"){ newText.name = "email" + counter_email;
		  counter_email++; }
	    if(id == "inst_addn") {newText.name = "instname" + counter_inst; 
		counter_inst++;} 
            if(id == "pubFields")
            newText.value = counterpub;
            else if(id == "contFields"){
            	//newdropd.size = "1";
            	//newdropd.setAttribute('id', 'dropdownelement');
		//newDiv.appendChild(newdropd);
            	//newdropd = document.getElementById('dropdownelement');
                //add first value to the dropdown
		var newdropd = document.createElement('select');
		newdropd.name = "cont_select" + counter_dropdown;
		counter_dropdown++;
		 var _opt = document.createElement('option');
                _opt.text = "Select Role";
                _opt.value = "";
                newdropd.add(_opt); 
                var _opt = document.createElement('option');
                _opt.text = "Author";
                _opt.value = "0";
                newdropd.add(_opt); 
		var _opt = document.createElement('option');
                _opt.text = 'Translator';
                _opt.value = '1';
                newdropd.add(_opt);
		var _opt = document.createElement('option');
                _opt.text = 'Both';
                _opt.value = '2';
                newdropd.add(_opt);
		}
	    else if(id == "fileFields")
		var fupload = document.createElement('file_field_tag')
            else
		newText.value = "";
            // Create a new button input
            var newDelButton = document.createElement('input');
            newDelButton.type = "button";
            newDelButton.value = "-";
             
            // Append new text input to the newDiv
	    if(id == "fileFields") newDiv.appendChild(fupload);
	    if(id == "contFields")	newDiv.appendChild(newdropd);
		else  newDiv.appendChild(newText);
            // Append new button input to the newDiv
            newDiv.appendChild(newDelButton);
            // Append newDiv input to the mainContainer div
            mainContainer.appendChild(newDiv);
            if(id == "pubFields")
            counterpub++;
            else if(id == "contFields")
            countercont++;
            else
            counterref++;
            // Add a handler to button for deleting the newDiv from the mainContainer
            newDelButton.onclick = function() {
                    mainContainer.removeChild(newDiv);
            }
        }
</script>


<!-- MAIN -->
                        <div id="main">
                                <!-- wrapper-main -->
                                <div class="wrapper">

                                        <!-- content -->
                                        <div id="content">

                                                <!-- title -->
                                                <div id="page-title">
                                                        <span class="title">Submit a Model</span>
                                                </div>
                                                <!-- ENDS title -->
<p>
                        * Indicates required field</p>
                <p>
<%= form_tag("add_model",:id => "anID", :multipart => "true" , :method => "post") do %>

<table class="news_table">
<!-- <table class="collapsible alt-row-colors sm-padding" width="100%"> -->
<tr>
<td> First Name* :
</td><td>
<div id="fname_addn">
 <input maxlength="100" name="fname0" size="30" type="text" class="poshytip" title="Enter your first name" />
<input type="button" value="+" onclick="addFields('fname_addn');" />
</td></tr>
</div>

<tr>
<td> Middle Name :
</td><td> 
<div id="mname_addn">
<input maxlength="120" name="mname0" size="30" type="text" class="poshytip" title="Enter your middle name" />
<input type="button" value="+" onclick="addFields('mname_addn');" />
</td></tr>
</div>
<tr>
<td>Last Name* :
</td><td> <div id="lname_addn">
<input maxlength="120" name="lname0" size="30" type="text" class="poshytip" title="Enter your last name" />
<input type="button" value="+" onclick="addFields('lname_addn');" />
</td></tr>
</div>

<tr>
<td> Email Address* :
</td><td>
<div id="email_addn">
 <input maxlength="50" name="email0" size="30" type="email" class="poshytip" title="Enter your email id" />
<input type="button" value="+" onclick="addFields('email_addn');" />
 </td></tr>
</div>

<tr>
<td> Institution :
</td><td> 
<div id="inst_addn">
<input maxlength="300" name="instname0" size="30" type="text" class="poshytip" title="Enter name of the institution" />
<input type="button" value="+" onclick="addFields('inst_addn');" />
</td></tr>
</div>

<tr>
<td> Type of Contribution Model :
</td><td>
<div id="contFields">
<select name="cont_select0">
  <option value="0" Selected="selected">Select a Role</option>
  <option value="0">Author</option>
  <option value="1">Translator</option>
  <option value="2">Both</option>
</select>
<input type="button" value="+" onclick="addFields('contFields');" />
</td>
</div>
</tr>


<tr>
<td> Model Name* :
</td><td> <input maxlength="120" name="model" size="30" type="text" class="poshytip" title="Enter model name" />
</td></tr>

<tr>
<td> Model Type:
</td><td>
<select name="mtype_select">
  <option value="" Selected="selected">Model Type </option>
  <option value="C">Cell</option>
  <option value="S">Synapse</option>
  <option value="Ch">Channel</option>
  <option value="N">Network</option>
</select>
</td>
</tr>

<tr>
<td> A Brief Description about the Model :
</td><td> <textarea cols="60" name="model_desc" rows="10" class="poshytip" title="Enter discription about the model"  ></textarea>
</td></tr>

<tr>
<td> Publication(s) Title :
</td><td><div id="pubFields"> <input maxlength="300" name="pubmed_title" size="30" type="text" class="poshytip" title="Enter publication title" />
</div>
</td>
</tr>

<tr>
<td> PubMed RefID :
</td><td><div id="pubFields"> <input maxlength="300" name="pubmed_id" size="30" type="text" class="poshytip" title="Enter pubmed ID" />
</div>
</td>
</tr>

<tr>
<td> References to the Model :
</td><td>
<div id="refFields"> <input maxlength="250" name="ref_src" size="30" type="text" class="poshytip" title="Enter references to the model" />
</div>
</td></tr>

<tr>
<td> References URI:
</td><td>
<div id="refFields"> <input maxlength="250" name="ref_uri" size="30" type="url" class="poshytip" title="Enter references URI to the model" />
</div>
</td></tr>


<tr>
<td> NeuroLex URI:
</td><td>
<div id="refFields"> <input maxlength="250" name="nlx_uri" size="30" type="text" class="poshytip" title="Enter NeuroLex URI of the model" />
</div>
</td></tr>

<tr>
<td> NeuroLex Terms:
</td><td>
<div id="refFields"> <input maxlength="250" name="nlx_trm" size="30" type="text" class="poshytip" title="Enter Neurolex Terms" />
</div>
</td></tr>

<tr>
<td> Associated Channels:
</td><td>
<div id="assocFields"> <input maxlength="250" name="assoc_chnl" size="30" type="text" class="poshytip" title="Enter associated models" />
</div>
</td></tr>

<tr>
<td> Associated Networks:
</td><td>
<div id="assocFields"> <input maxlength="250" name="assoc_nw" size="30" type="text" class="poshytip" title="Enter associated models" />
</div>
</td></tr>

<tr>
<td> Associated Cells:
</td><td>
<div id="assocFields"> <input maxlength="250" name="assoc_cell" size="30" type="text" class="poshytip" title="Enter associated models" />
</div>
</td></tr>

<tr>
<td> Associated Synapses:
</td><td>
<div id="assocFields"> <input maxlength="250" name="assoc_syn" size="30" type="text" class="poshytip" title="Enter associated models" />
</div>
</td></tr>


<tr>
<td> Upload you Model file(s) here :
</td>
<div id="fileFields">
<td><%= file_field_tag "file",:class=>'poshytip', :title => 'upload your model files here' %>
<input type="button" value="+" onclick="addFields('fileFields');" />
</div>
</td></tr>


<tr>
<td> Enter Other Keyword(s):
</td><td>
<input maxlength="300" name="keywords_model" size="30" type="text" class="poshytip" title="Enter the keywords" />
</td></tr>


<tr>
<td> Note(s) or Comment(s):
</td><td> <textarea cols="60" name="notes" rows="10" class="poshytip" title="Enter the comments"></textarea>
</td></tr></table>

		<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input name="reset" type="reset"/>&nbsp;&nbsp; <input name="save" type="button" value="Save" />&nbsp;&nbsp; <input name="Submit" type="submit" value="Submit Model" /></p>
<% end%>
<div class="clear"></div>
                                                <!-- ENDS project column (right) -->


                                        </div>
                                        <!-- ENDS content -->

                                </div>
                                <!-- ENDS wrapper-main -->
                        </div>

