<div id="main">
                                <!-- wrapper-main -->
                                <div class="wrapper">

                                        <!-- content -->
                                        <div id="content">

                                                <!-- title -->
                                                <div id="page-title">
                                                        <span class="title">Model Curation</span>
                                                </div>
                                                <!-- ENDS title -->

<h1>Model has been Curated Succesfully and could be found by browsing models</h1>
</div></div></div>
