
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">CNS Workshop 2008</span>
						</div>
						<h1>CNS Workshop 2008</h1>

<b>Interoperability of Software for Computational and Experimental

Neuroscience<br>
</b>
<br>
<b>Organizers: Padraig Gleeson and Sharon Crook</b><br>
<br>
</CENTER>

<br>
<br>
<b>Abstract:</b>

Biophysically detailed computational models are increasingly accepted as important tools for
the investigation of brain function by the wider neuroscience community.
However, there are still a number of issues to address before a clear and
practical framework can be created for exchange of ideas and data both between
theoreticians working in different areas and between modelers and
experimentalists. At present, multiple simulation platforms are used to model
cellular and network activity, each of which has its own scripting language and
data structures. This can make reuse of model code developed for one environment
difficult for users of another platform, despite the fact that the
physiological concepts underlying software design are the same in both. Also,
software applications for analysis and management of data produced by
electrophysiological experiments, and tools and utilities for the analysis of
simulation results are normally developed independently, although the same
analysis techniques can be carried out on both datasets.<br><br>

This workshop
includes presentations from researchers who are actively involved in the
construction of software solutions for various stages of the computational
modeling cycle: from obtaining experimental results, to model creation,
simulation and analysis, to prediction of experimental results, and back again.
The aim is to present an overview of initiatives in the field to allow greater
interaction between these elements and increased usability of results from each
stage. <br><br>

After the main talks, an open
discussion session will a) identify &quot;gaps&quot; in the tool chain and b)
identify desired extensions/updates to existing standards that allow for
greater biophysical detail in models.<br><br>


<div class="h1"><b>Schedule:<br></b>
</div>

<table cellpadding="2" cellspacing="5" border="0" width="100%">
<tbody>
<tr>
<td valign="top">9:00</td> <td> Sharon Crook, Arizona State University<br>
<i>Introduction to workshop</i></td></tr>
<tr>
<td valign="top">9:15</td>	<td>Pierre Yger, Centre National de la Recherche Scientifique<br>
<i>PyNN: A common Python interface for neuronal network simulators</i></td></tr>
<tr>
<td valign="top">9:45</td> 	<td>Padraig Gleeson, University College London<br>
<i>	Enabling interoperability and transparency of models of biophysical neurons 
and 	networks with NeuroML</i></td></tr>
<tr>
<td valign="top">10:15</td> 	<td>Hugo Cornelis, University of Texas Health Science Center at San Antonio<br>
<i>	A technical overview of the CBI simulation framework: Examples of instances 
and applications</i></td></tr>
<tr>
<td valign="top">10:45</td> 	<td>Coffee Break</td></tr>
<tr>
<td valign="top">11:15</td> 	<td>Cengiz Gunay, Emory University<br>
<i>	Standardizing acquired and simulated electrophysiological data using 
the hierarchical data format (HDF5)</i></td></tr>
<tr>
<td valign="top">11:45</td> 	<td>Subhasis Ray, National Centre for Biological Sciences, Bangalore	<br>
<i>	MOOSE: The Multiscale Object-oriented Simulation Environment</i></td></tr>
<tr>
<td valign="top">12:15</td> 	<td>Lunch Break</td></tr>
<tr>
<td valign="top">14:00</td> 	<td>Ivan Raikov, Okinawa Institute of Science and  Technology<br>
<i>	Neuroscience modelling languages: Practice and theory</i></td></tr>
<tr>
<td valign="top">14:30</td> 	<td>Dan Goodman, Ecole Normale Superieure, Paris<br>
<i>	Brian: A simulator for spiking neural networks in Python</i></td></tr>
<tr>
<td valign="top">15:00</td> 	<td>Phillip Lord, Newcastle University<br>
<i>	The CARMEN Project: Towards a common data format for electrophysiological 
data 	exchange and analysis</i></td></tr>
<tr>
<td valign="top">15:30</td> 	<td>Break</td></tr>
<tr>
<td valign="top">16:00</td>	<td>Open Discussion</td></tr>
</tbody>
</table>
<br>
<b>Topics for Open Discussion:</b><br>

<ul>
 <li> Identification of gaps in the toolchain</li>
 <li> Procedural vs. declarative issues</li>
 <li> Are standards possible for simulator and experimental data?</li>
 <li> Incorporation of kinetic schemes and Markov model descriptions of channels and synapses</li>
 <li> Interaction of NeuroML and the
     computational neuroscience domain with SBML and MathML</li>
 <li> Are there issues that we are
     not considering that provide obstacles to model and data exchange?</li>
</ul>
</td>
</tr>
</table>
								
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
