/* $Id: ie6.css,v 5.x-3.1.1 2008/4/21 05:28:41 jjeff Exp $ */
/**
* Styles to address IE6 browser inconsistencies
*/
body {
	font-size: 75%;
	text-align: left;
}
#asu_container {
   width: expression(document.body.clientWidth < 1002? "969px": "auto" );
}
#content-inner,
.no-sidebars #content-inner {
	padding-top: 0;
	margin-top: 1em;
}
/* IE 6 doesn't interpret alpha transparency in PNG images,
   so we have to use a proprietary Microsoft filter to
   activate this behavior, which also will not work without
   client-side scripting enabled.
   
   This technique relies on IE 6 attaching the alpha filter directly
   to the image, in the same instance as it loads the .png file.
   For this reason, a rule in the stylesheet targeting the existing
   image will not work because it separates the image from the filter,
   so we have to remove the image in the page and replace it with
   a background image on the logo DIV, which IE 6 will then be able
   to target with its proprietary filter.
   
   The new, IE-safe background image cannot be placed on the anchor
   because of "z-index"-like problems resulting in the transparent
   parts of the logo becoming unclickable.
   See http://support.microsoft.com/kb/294714 */
#asu_logo {

	padding: 0; 
	margin: 1.33em 0 0 28px;
	display: inline;
}
#asu_logo img {
   display: inline;
   }
#asu_login_search {
   float: none;
   width: 100%;
   margin-top: 2em;
   padding-top: 1.6em;
}
#asu_login_module {
	float: right;
}
#asu_search_module {
	float: right;
   margin: 1px -3px 5px 0;
   padding: 4px 3px 0 0;
}
#asu_search_module input#gc_search,
#asu_search_module input#asu_search {
	margin-right: 27px;
	margin-bottom: 1px;
	width: 16.4em;
}
#asu_search_module input.asu_search_button {
   margin-top: -42px;
}
#asu_gold_hdr {
	overflow: hidden;
	height: 99px;
        width: 999px;
}
table.sticky-enabled,
table.sticky-header,
table.sticky-table {
	width: 76%;
	font-size: 96%;
}

/**
* =FIXED WIDTH layout
* Uncomment these styles for a centered fixed width layout
* Also, uncomment the corresponding rules in layout.css
*/

body {
	text-align: center;
}
.asu_set_fixed_width {
	width: 969px;
	text-align: left;
}

#asu_container {
	width:969px;
	margin:0;
}


 
/**
* END FIXED WIDTH
*/




#content-area td {
         font-size: 1em;
}

#asu_footer_contact_info td {
         font-size: 1.2em;
}

#asu_footer {
        width: 999px;
       
}

#content .node table.mediumtab {
	width:550px;
}
#content .node table.widetab{
        width:750px;
}
#content .node table.offhours {
        width:750px;
}
#content .calendar-calendar table {
        width:750px;
}

#td {font-size: 1em;}
