/* $Id: ie7.css,v 5.x-3.1.1 2008/4/21 05:28:41 jjeff Exp $ */
/**
* Styles to address IE7 browser inconsistencies
*/

body {
	text-align: left;
}
/*Changed length of max-width so that ASU links don't wrap in IE7*/
/*
#asu_universal_nav {
	float: right;
	margin: 0pt;
	max-width: 625px;
	padding: 6px 0pt 0pt;
}*/
/*Position relative added to make links underline on hover for IE7*/
/*
#asu_universal_nav li a:link, #asu_universal_nav li a:visited {
	position: relative;
	color: #666;
	text-decoration: none;
}
/*Position relative added to make links underline on hover for IE7*/
/*#asu_universal_nav li a:hover, #asu_universal_nav li a:active {
	position: relative;
	color: #000;
	text-decoration: underline;
}*/

/*#asu_login_search {
   float: none;
   width: 100%;
   margin-top: 2em;
   padding-top: 1.5em;
}
#asu_login_module {
	float: right;
}
#asu_search_module {
	float: right;
   margin: 1px -3px 5px 0;
   padding: 5px 0 0 0;
}
#asu_search_module input#gc_search,
#asu_search_module input#asu_search {
	margin-right: 27px;
	margin-bottom: 1px;
	width: 16.4em;
	height: 1.85em;
}
#asu_search_module input.asu_search_button {
   margin-top: -42px;
}
#asu_gold_hdr {
	overflow: hidden;
	height: 99px;
        width: 999px;
}*/
table.sticky-enabled,
table.sticky-header,
table.sticky-table {
	width: 76%;
	font-size: 96%;
}

/**
* =FIXED WIDTH layout
* Uncomment these styles for a centered fixed width layout
* Also, uncomment the corresponding rules in layout.css
*/

body {
	text-align: center;
}
.asu_set_fixed_width {
	width: 969px;
	text-align: left;
}

#asu_container {
	width:969px;
	margin:0;
}



#content-area td {
         font-size: 1em;
}



#asu_footer {
        width: 999px;
       
}

#content .node table.mediumtab {
	width:550px;
}
#content .node table.widetab{
        width:750px;
}
#content .node table.offhours {
        width:750px;
}

#content .calendar-calendar table {
        width:750px;
}


#asu_footer_contact_info td {
         font-size: 1.2em;
}

#td {font-size: 1em;}

/**
* END FIXED WIDTH
*/
