/* 
/**
* Styles to address IE8 browser inconsistencies
*/

/*#asu_search_module input.asu_search_button {
   margin-top: -42px;
}*/

#asu_container {
background:transparent url(/sites/all/themes/asuzen/images/bg.jpg) repeat-y scroll 0 0;
margin-top:0;
}

/*#asu_gold_hdr {
	overflow: hidden;
	height: 99px;
}*/

.asu_set_fixed_width {
	text-align: left;
}
#asu_container {
	width:969px;
	margin:0;
}


#content-area td {
         font-size: 1em;
}



#asu_footer_contact_info {
         font-size: 0.8em;
}

#asu_footer {
        width: 999px;
       
}


#content .node table.mediumtab {
	width:550px;
}
#content .node table.widetab{
        width:750px;
}
#content .node table.offhours {
        width:750px;
}

#content .calendar-calendar table {
        width:750px;
}

#asu_footer_contact_info td {
         font-size: 1.2em;
}


#td {font-size: 1em;}
