<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">Logout</span>
							<span class="subtitle">Logout</span>
						</div>
						<%= form_tag(signout_path) do %>
  <p><%= submit_tag l(:label_logout) %></p>
<% end %>
								
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			



