<style>
  .properties {
  }
</style>
<script>
    function init_properties() {

    }
</script>
<tr class="properties">
  <td class="keyword" style="vertical-align: top;">Membrane Properties:</td>
  <td class="description">
    <div id="property-table">
      <table>
        <thead>
        <tr>
          <td>Property</td>
          <td>Value</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="property-name">Is Passive</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Is Intrinsically Spiking</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Resting Voltage</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Rheobase Interval Low-High</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Threshold Current Interval Low-High</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Bias Current (to Bias Voltage)</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Testing Temperature</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        </tbody>
      </table>
    </div>
  </td>
</tr>

<tr class="properties">
  <td class="keyword" style="vertical-align: top;">Model Complexity:</td>
  <td class="description">
    <div id="property-table">
      <table>
        <thead>
        <tr>
          <td>Property</td>
          <td>Value</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="property-name">Sections</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Compartments</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">State Equations</td>
          <td class="property-value">1,453</td>
        </tr>
        <tr>
          <td class="property-name">Maximum Stable Time Step</td>
          <td class="property-value">0.5 ms</td>
        </tr>
        <tr>
          <td class="property-name">Maximum Stable Time Step Error</td>
          <td class="property-value">0.23 %</td>
        </tr>
        <tr>
          <td class="property-name">Single Step Run-time (mean)</td>
          <td class="property-value">12.0 times slower than HH</td>
        </tr>
        <tr>
          <td class="property-name">Run-time-vs-Error Optimal Time Step</td>
          <td class="property-value">0.23 ms</td>
        </tr>
        <tr>
          <td class="property-name">Run-time-vs-Error Optimal Time Step Error</td>
          <td class="property-value">0.23 %</td>
        </tr>
        <tr>
          <td class="property-name">Benchmark Run-time @ Optimal Time Step</td>
          <td class="property-value">12.0 times faster than HH</td>
        </tr>
        <tr>
          <td class="property-name">CVODE Steady State Step Frequency</td>
          <td class="property-value">10,312 steps per simulation second</td>
        </tr>
        <tr>
          <td class="property-name">CVODE Steps Per Spike</td>
          <td class="property-value">543 steps per spike</td>
        </tr>
        <tr>
          <td class="property-name">CVODE Runtime @ 10 Spikes/s</td>
          <td class="property-value">12.0 times faster than HH</td>
        </tr>
        <tr>
          <td class="property-name">Stability Interval Low-High</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        <tr>
          <td class="property-name">Stability Interval Low-High</td>
          <td class="property-value">0.23 nA</td>
        </tr>
        </tbody>
      </table>
    </div>
  </td>
</tr>
<script>
    init_properties()
</script>