<div id="main">
  <!-- wrapper-main -->
  <div class="wrapper">

    <!-- content -->
    <div id="content">

      <!-- title -->
      <div id="page-title">
        <h2 class="title">Documentation</h2>
      </div>
      <!-- ENDS title -->

      <div style="margin-right: 30px; margin-left: 30px">

        <h3>Overview Video: Keyword and Ontology-Assisted Search</h3>

        <iframe width="100%" height="500" src="https://www.youtube.com/embed/MCFvrwiHcmU" frameborder="0" allowfullscreen></iframe>

        <p style="margin-top: 1em;">Watch the above video to get a quick overview of the main features of the search engine: keyword search and
          ontology-assisted search which allows searching for models by brain region and neurotransmitter. Once located,
          the NeuroML code of a model can be downloaded as a single file.</p>

        <h3>Keyword Search</h3>

        <p>Keyword search is, as its name implies, a simple search for computational models by keywords. Models whose model
          name, author, publication title, or description contains any of the search terms will be returned in the results.
          The results for keyword search are shown on the left.
        </p>

        <h3>Ontology Search</h3>
        <p>The ontology-assisted search, showing results on the right, does not match the entered terms, but instead matches
          models that are related to one or more of the entered terms. Specifically, when a brain region (i.e. hippocampus)
          is entered as a term, all models within that region will be returned. When a neurotransmitter is entered (i.e. GABA),
          models of cells releasing it will be shown. Furthermore, cells with specific neurotransmitter within specific regions
          can be found by entering a neurotransmitter and a region as the search terms (i.e. "GABA cerebellum" will return all
          GABA releasing cells located in the cerebellum).
        </p>

        <h3>Limitations</h3>

        <p>The search engine currently supports only the Located_in, Is_part_of, and Neurotransmitter relationships. Furthermore,
        only models of at most one relationship (edge) away will be returned.</p>

      </div>
    </div>

  </div>
</div>




             







