<style>
  h3 { margin-bottom: 10px;}
  .text-page li { margin-left: 10px; list-style: inside; }

</style>
<div id="main">
  <!-- wrapper-main -->
  <div class="wrapper">

    <!-- content -->
    <div id="content">

      <!-- title -->
      <div id="page-title">
        <h2 class="title">About NeuroML Database</h2>
      </div>
      <!-- ENDS title -->

      <div class="text-page">
        <h3>Developers</h3>

        <a>NeuroML-DB.org is developed and maintained by the <a href="https://iconlab.asu.edu/">ICON Lab</a> at <a href="https://asu.edu">Arizona State University</a></p>

        <p>Lead Developer: <a href="https://www.researchgate.net/profile/Justas_Birgiolas">Justas Birgiolas</a></p>
        <p>Supervisors: <a href="https://iconlab.asu.edu/crook.html">Sharon Crook</a>, <a href="https://iconlab.asu.edu/gerkin.html">Rick Gerkin</a>, <a href="http://www.public.asu.edu/~dietrich/">Suzanne Dietrich</a></p>
        <p>Past developers: Vineel Vutukuri, Rajesh Vakkalagadda, Ashwin Rajadesingan, Chao Zhang, Shriharsha Velugoti Penchala, Veerasekhar Addepalli</p>

        <h3 id="contact">Contact/Issues</h3>
        <p>If you need to contact the site developers, email justas[AT]asu.edu</p>
        <p>If you encounter an issue with the site or the models, please submit an <a href="https://github.com/scrook/neuroml-db/issues">issue on GitHub</a></p>.

        <h3>How to Submit NeuroML Models</h3>
        <p>
          <ul>
            <li>Publish your model in a scientific publication</li>
            <li>Upload your NeuroML v2+ model to a public repository like <a href="https://github.com">GitHub</a></li>
            <li>Send us an email with the links to the publication and the repository</li>
            <li>We will review the model and add it to our database</li>
          </ul>
        </p>

        <h3>Background</h3>

          <p>The Neural Open Markup Language project, <a href="http://neuroml.org/">NeuroML</a>, is an international, collaborative initiative to develop a
          language for describing and sharing complex, multiscale neuron and neuronal network models. The project
          focuses
          on the key objects that need to be exchanged among software applications used by computational
          neuroscientists.</p>

        <p>
          Examples of these objects include descriptions of neuronal morphology, the dynamics of ion channels and
          synaptic
          mechanisms, and the connectivity patterns of networks of model neurons. This modular approach brings
          additional
          benefits: not only can entire models be published and exchanged in this format, but each individual object or
          component, such as a specific calcium channel or excitatory synapse, can be shared and re-implemented in a
          different model.</p>

        <p>The NeuroML Database is a relational database that provides a means for exchanging these NeuroML model
          descriptions and their components. One of our goals is to contribute to an efficient tool chain for model
          development using NeuroML. This emphasis allows the database design and subsequent searching to take advantage
          of this specific format. In particular, the NeuroML database allows for efficient searches over the components
          of models and metadata that are associated with a hierarchical NeuroML model description.</p>
        </p>

      </div>
    </div>

  </div>
</div>