<style>
  div#content {
    font-size: 16px;
    background: white;
    padding: 10px 83px;
  }
</style>
<div id="main">
    <div class="wrapper">
    <div id="content">
      <%= render "model_info" %>
    </div>
  </div>
</div>
             




