<style>
  div#content {
    font-size: 16px;
    background: #fbfbfb;
    padding: 0 45px;
  }
</style>
<div id="main">
    <div class="wrapper">
    <div id="content">
      <%= render "model_info" %>
    </div>
  </div>
</div>
             




