<style>
  div#content { font-size: 16px; background: white; padding: 0; }
  /*.ui-widget.ui-widget-content {  }*/
  .ui-tabs { padding: 0; border: 0 !important; }
  .ui-tabs .ui-tabs-nav { border-width: 0; border-bottom-width: 1px; background-color: transparent; padding: 0; margin: 0;  text-align: center; border-color: #c8d3db; border-radius: 0;}
  .ui-tabs-nav .ui-corner-all { border-radius: 0; }
  .ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav .ui-tabs-anchor { float: inherit; display: inline-block; }
  .ui-tabs .ui-tabs-nav li.ui-tabs-active { border-color: #1376c4; }
  .ui-tabs-active a { color: #c4e5ff !important; background-color: #1376c4; }

  /*.ui-widget-header {  }*/
  td.description { background-color: transparent; }
</style>
<div id="main">
    <div class="wrapper">
    <div id="content">
      <%= render "model_info" %>
    </div>
  </div>
</div>
             




