<div id="main">
                                <!-- wrapper-main -->
                                <div class="wrapper">

                                        <!-- content -->
                                        <div id="content">

                                                <!-- title -->
                                                <!-- ENDS title -->
<h3 class="text_center">Thank you for submitting your model!<br>You would be notified through email once your model is verified and curated into NeuroML2.0 database</h3>
<br><br><br>
<a href="/model_submit">Back to prior page</a>
<div class="clear"></div>
                                                <!-- ENDS project column (right) -->


                                        </div>
                                        <!-- ENDS content -->

                                </div>
                                <!-- ENDS wrapper-main -->
                        </div>

