<div id="main">
                                <!-- wrapper-main -->
                                <div class="wrapper">

                                        <!-- content -->
                                        <div id="content">

                                                <!-- title -->
                                                <div id="page-title">
                                                </div>
                                                <!-- ENDS title -->
<h3 class="text_center">One or More required field(s) are not valid responses.<br>Please fill in all the mandatory details to submit the model successfully.</h3>
<br><br><br>
<a href="/model_submit">Back to prior page</a>
<div class="clear"></div>
                                                <!-- ENDS project column (right) -->


                                        </div>
                                        <!-- ENDS content -->

                                </div>
                                <!-- ENDS wrapper-main -->
                        </div>

