



			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">

					<!-- content -->
					<div id="content">

						<!-- title -->
						<div id="page-title">
							<span class="title">Search Results Quality and Performance</span>
						</div>

                        <table>
                          <tr>
                            <td>Query</td>
                            <td>Expected Keyword Model</td>
                            <td>Actual Position</td>
                            <td>Response Time</td>
                            <td>Expected Ontology Model</td>
                            <td>Actual Position</td>
                            <td>Response Time</td>
                          </tr>

                          <tr>
                            <td></td>
                            <td>Averages:</td>
                            <td>---</td>
                            <td>---</td>
                            <td></td>
                            <td>---</td>
                            <td>---</td>
                          </tr>
                        </table>

					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->

