
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">NeuroML Editorial Board</span>
						</div>
						<!-- ENDS title -->

<p>An elected board of editors has been formed to manage the NeuroML specification process. This group of people will be 
responsible for producing and maintaining the official documentation for the NeuroML language. Due to the close link between 
the development of NeuroML 2 and LEMS, this group will also be responsible for producing a stable specification for the 
subset of LEMS used by NeuroML 2.</p>

<h2>Initial election, June 2013</h2>



<p>The 5 current members of the NeuroML Editorial Board are: <b>Robert Cannon</b>, <b>Sharon Crook</b>, <b>Padraig Gleeson</b>, <b>Angus Silver</b> and <b>Mike Vella</b>. 
    Padraig Gleeson, Sharon Crook and Robert Cannon are elected for 3 years, Mike Vella and Angus Silver are elected for 2 years. </p>
<br>
<br>
<div class="contributors">
<div id="row1">

<div class="contributor">
 <div class="contributor_image"><a href="http://www.textensor.com/" target="_blank"><img src="../images/cannon.jpg" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Robert Cannon</b><br />Textensor Limited,<br />Edinburgh, UK<br /><a href="http://www.textensor.com/" target="_blank"><i>Website</i></a></div>
</div>


<div class="contributor">
 <div class="contributor_image"><a href="http://math.la.asu.edu/~crook/" target="_blank"><img src="../images/rsz_new_crook.jpg" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Sharon Crook</b><br />Arizona State University<br />USA<br /><a href="http://math.la.asu.edu/~crook/" target="_blank"><i>Website</i></a></div>
</div>

<div class="contributor">
 <div class="contributor_image"><a href="http://www.neuroconstruct.org/" target="_blank"><img src="../images/new_padraig.jpg" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Padraig Gleeson</b><br />University College London,<br />UK<br /><a href="http://www.neuroconstruct.org/" target="_blank"><i>Website</i></a></div>
</div>

<div class="contributor">
 <div class="contributor_image"><a href="http://www.ucl.ac.uk/silverlab/" target="_blank"><img src="../images/new_angus.png" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Angus Silver</b><br />University College London,<br/>UK<br /><a href="http://www.ucl.ac.uk/silverlab/" target="_blank"><i>Website</i></a></div>
</div>
</div>
</div>


<p>A kick off meeting of the NeuroML Editorial Board has taken place on 4 July 2013. This will be followed up by a meeting at 
    <a href="http://www.cnsorg.org/cns-2013-paris">CNS 2013</a>. More details of the initial activities of the editors will follow soon.</p>

<h2>Procedures used</h2>

<p>The procedures for election of the editorial board, its responsibilities, size and activities were heavily inspired by other
initiatives like <a href="http://sbml.org/Documents/SBML_Development_Process#The_SBML_Editors">SBML</a>, who have had 
successful editorial teams for many years. The <a href="http://co.mbine.org/standards">COMBINE initiative</a> seeks to 
promote community developed standards in computational biology, and the NeuroML editorial board will work with this 
initiative to ensure best practices in specification preparation.</p>


<h2>Responsibilities of the NeuroML Editors</h2>


<p>The editorial board consists of 5 members, elected by the NeuroML community. The main responsibilities will be:</p>


<ul>
<li>Defining and documenting the procedure for specification production: scope, release frequency, update procedures, 
    form of specification (web based or single pdf, etc.). This should be based on some or all of the recommendations for
    community based standards development from the <a href="http://co.mbine.org/standards">COMBINE initiative</a>. These
    procedures for specification production will have to be agreed with the <a href='scientific_committee'>NeuroML Scientific Committee</a>.</li>
        
<li>Preparing the core specification for the NeuroML language, using as a starting point the <a href="neuromlv2">NeuroML 2 beta</a> specification. A first version of this may concentrate on the most well tested/widely supported parts of NeuroML 2, but it should evolve to include all modelling areas within the scope of the language.</li>

<li>Testing reference implementations of NeuroML compliant applications.</li>

<li>Preparing a specification for the LEMS language. This can be a subset of the language supported by the reference 
    implementations in Java (<a href="http://github.com/LEMS/jLEMS/">jLEMS</a>) and Python 
    (<a href="https://github.com/LEMS/pylems">PyLEMS</a>), but will have to cover all of the LEMS elements required to 
    specify the <a href="http://www.neuroml.org/NeuroML2CoreTypes/Cells.html">ComponentType definitions for NeuroML 2</a>.</li>

<li>Responding to community queries about the specification.</li>

<li>Establishing a procedure for incorporating major changes into the specification (in cooperation with the 
    <a href='scientific_committee'>NeuroML Scientific Committee</a>).</li>
</ul>


<p>Participation in the editorial board will be on a volunteer basis, there is no central funding to support this work.</a>
    

<h2>Initial election of editors</h2>

<p>The first election of an editorial board for NeuroML took place in May/June 2013. </p>

<ul>
<li>The electorate consisted of the members of the <a href='http://sourceforge.net/p/neuroml/mailman/'>NeuroML mailing lists</a> on 
    3rd May 2013</li>
    <li>Anyone on these lists could nominate someone to be an editor. Self nominations were also allowed.</li>
    <li>The 3 candidates who receive the highest number of votes would serve 3 year terms, the 2 with the next highest number 
        of votes would serve 2 year terms.</li>
    <li>Nicolas Le Nov&egrave;re (lenov -at- babraham.ac.uk) was be the returning officer for this initial election.</li>
    <li>Nominations could outline briefly why that person was a good candidate for the role of NeuroML editor.</li>
        
</ul>	
						
								<div class="clear"></div>
						<!-- ENDS project column (right) -->
						
						
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
