
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">Second NeuroML Development Workshop, March 4-5, 2010</span>
						</div>
<b>ISTB I Room 227, Arizona State University</b>
</center>
<br>The second annual NeuroML Development Workshop will provide a forum for 
discussion and debate regarding the NeuroML description language  and 
related tool development. The workshop is open to the NeuroML specification
committees,  consultants, and anyone in the neuroinformatics community who
is willing to contribute to the future development of NeuroML. Please contact the <a style="color:ff3300" href="scientific_committee">NeuroML team</a> if you would like to attend.
<br><br>
This year, the workshop is part of a larger symposium on multiscale approaches for understanding neural 
plasticity.<br>
<a style="color:FF3300" href="http://math.la.asu.edu/~cans/index.html">Symposium Website</a>
| <a style="color:FF3300" href="http://math.la.asu.edu/~cans/symposium_flyer_2010.pdf">Symposium Flyer</a>
| <a style="color:FF3300" href="http://math.la.asu.edu/~cans/symposium_poster_2010.pdf">Symposium Poster</a>
| <a style="color:FF3300" href="http://www.asu.edu/map/interactive/#">Interactive Map of ASU</a>
<br></p>
<br>
<b>Attendees:<br></b>
<br>
Guy Billings, <i>University College London, UK</i><br>

Avrama Blackwell, <i>George Mason University, USA</i><br>

Upi Bhalla, <i>National Center for Biological Science, India</i><br>

Ted Carnevale, <i>Yale University, USA</i><br>

Robert Cannon, <i>Textensor Limited, UK</i><br>

Hugo Cornelis, <i>University of Texas Health Science Center, USA</i><br>

Sharon Crook, <i>Arizona State University, USA</i><br>

Andrew Davison, <i>Centre National de la Recherche Scientifique, France</i><br>

Suzanne Dietrich, <i>Arizona State University, USA</i><br>

Padraig Gleeson, <i>University College London, UK</i><br>

Lyle Graham, <i>Centre National de la Recherche Scientifique, France</i><br>

Mike Hucka, <i>CalTech, USA</i><br>

Stephen Larson, <i>University of California San Diego, USA</I><br>

Henrik Linden, <i>Norwegian University of Life Sciences, Norway</i><br>

Michele Mattioni, <i>European Bioinformatics Institute, UK</i><br>

Alfredo Rodriguez, <i>Mount Sinai School of Medicine, USA</i><br>

Angus Silver, <i>University College London, UK</i><br>


<br>
<p><b><big>Important Information for Invited Attendees:</big></b><br>
<br>
Most attendees will arrive Wednesday into <a style="color:FF3300" href="http://www.phxskyharbor.com">Phoenix Sky Harbor Airport</a>. You have several options for local transportation. You may contact the hotel and request 
complimenary shuttle service or take a taxi to the hotel (~$12.00). If you have plenty of time and not much luggage, you can take the <a style="color:FF3300" href="http://www.valleymetro.org/schedules_and_maps/?type=1">light rail</a> to
the Mill Avenue/Third Street stop in Tempe and walk to the hotel.<br>
<br>
The workshop hotel is the <a style="color:FF3300" href="http://www.marriott.com/hotels/travel/phxte-courtyard-tempe-downtown">Tempe Courtyard by Marriott Downtown</a>. Your hotel bill will be billed directly to ASU.<br>
<br>
The symposium lectures, reception, and poster session on Wednesday will be held at the ASU University Club, which is a short walk from the hotel. See the <a style="color:FF3300" href="http://math.la.asu.edu/~cans">symposium 
website</a> for more details. The link to the interactive map of ASU at the top of this page
provides a way to locate ASU buildings and covers the downtown Tempe area. <br>
<br>
The NeuroML Workshop begins on Thursday March 4 at 9:00am in the 
ISTB I ("ISTB one") building on the ASU Tempe campus. 
There is a Starbucks Coffee shop
directly across from the entrance to ISTB I (just in case). When you arrive at
ISTB I, someone will be there to help you get through security.  Snacks, lunch 
and drinks will be provided throughout the day. On Thursday the workshop dinner will be held at
7:00pm at the 
<a style="color:FF3300" href="http://www.houseoftricks.com">House of Tricks</a>
in Tempe.<br>
<br>
We will meet again on Friday at 9:00am at the same location. For those participants staying
through Friday night, a workshop dinner party will be held at the home of Ranu Jung and Jimmy Abbas, 
Co-Directors of the Center for Adaptive Neural Systems at ASU. We will provide carpools from the hotel
to the party.<br>
<br>
Many of you are providing tutorials for local students and researchers on Saturday. This session
begins at 8:30am in room 104 of the E wing of the Life Sciences Building (LSE). Beverages and a 
continental style breakfast will be provided mid-morning. You might want to grab a cup of coffee
on your way over to get you through the first hour.<br>
<br>
During the workshop, paperwork will be provided for reimbursement for travel expenses. Please 
save all receipts. If you hold a non-US passport, a copy of your visa and passport will be 
required (in case you want to submit your documents while here at ASU).<br>
<br>
If you are arriving early or staying late, there are a number of interesting attractions that 
will be very convenient for you to visit. Many are available by taking the light rail.
Some places to consider are the <a style="color:ff3300" href="http://dbg.com">Desert Botanical Garden</a>,
the <a style="color:ff3300" href="http://www.heard.org">Heard Museum</a> which is famous for its Native American Art, the 
<a style="color:ff3300" href="http://phxart.org">Phoenix Art Museum</a>, 
the <a style="color:ff3300" href="http://phoenix.gov/PARKS/heritage.html">Historic Heritage Square and Arizona Science Center</a>, and the <a style="color:ff3300" href="http://www.phoenixzoo.org">Phoenix Zoo</a>.
The hotel will be able to provide further suggestions including local hikes in our urban mountain preserves,
mountain bike rental and such. There is also the possibility to rent a car and drive to the 
beautiful Sedona area (1 1/2 to 2 hours driving time each way) or the South Rim of the Grand 
Canyon (3 1/2 to 4 hours each way).
<br>
<br>
Please do not hesitate to contact the organizers if you have any questions at all. Safe travels all
and see you soon!<br></p>


<br>
<table style="color:black">
<tr>
<td width="20%"><img src="images/asu.gif" width="120px"></td>
<td width="60%">
<small>
<p>Supported in part by R01 MH081905 from the National Institutes of Health (NIMH),<br> 
PI: Sharon Crook, Arizona State University<br><br>
Additional support: MRC, Wellcome Trust</p>
</small>
</td>
</tr>
</table>	   
                      
</td>
</tr>
</table>
								
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
