



<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">

        <!-- content -->
        <div id="content">

            <!-- title -->
            <div id="page-title">
                <span class="title">A Brief History of NeuroML</span>
            </div>
            <!-- ENDS title -->
            <p>
                The concept of NeuroML was first introduced in an article by Goddard et al. (2001), following meetings at the University of Edinburgh 
                where initial templates for the model description language structures were discussed. The proposal extended general purpose structures 
                for neuroscience data proposed by Gardner et al. (2001).<br />
                <br/>
                At that time, the design principles for NeuroML were closely linked with a specific software architecture in which a base application 
                loads a range of plugins to handle different aspects of a simulation experiment. The simulation platform <a href="http://www.neurogems.org/neosim2/">Neosim</a> 
                provided an implementation of this approach (Howell et al. 2003), and early NeuroML development was closely aligned to this architechture. 
                Fred Howell and Robert Cannon developed a software library, the NeuroML Development Kit (NDK), to simplify the process of working with 
                XML serializations of models. This library implemented a particular dialect of XML but did not define particular structures at the model 
                description level. Instead, Neosim plugin developers were free to develop their own structures and serialize them via the NDK, in the 
                hope that some consensus would emerge around the most useful ones. In practice, few developers beyond the Edinburgh group developed or 
                used such structures and the resulting XML was too application specific to gain wider adoption. The Neosim project was completed in 2005.<br/>
                <br/>
                Based on discussions with Howell and Cannon about the need to develop a consensus for describing widely used model components, 
                Sharon Crook worked with the neuroanatomy community on a language for describing neuronal morphologies in XML, MorphML (Qi and Crook 2004). 
                At the same time, Padraig Gleeson working with Angus Silver was developing <a href="http://www.neuroconstruct.org/">neuroConstruct</a>, 
                for generating neuronal simulations for the NEURON and GENESIS simulators (Gleeson et al. 2007), which had its own internal simulator 
                independent representation for morphologies, channel and networks. It was agreed that these efforts should be merged under the banner of 
                NeuroML, and the <a href="">v1.x structure of NeuroML</a> was created. A modular approach containing MorphML, ChannelML and NetworkML 
                was adopted to allow application developers to support only those parts of the language needed by their application 
                (Crook et al. 2007, Gleeson et al. 2010). XML schema files for this version of the standard have been available since 2006. The motivation, 
                structure and functionality of this version is described in Gleeson et al. 2010, while the specification of the language is outlined in the 
                <a href="http://www.ploscompbiol.org/article/info:doi/10.1371/journal.pcbi.1000815#s5">Supporting Information</a> of that publication.<br/>
                <br />
                NeuroML v2.0 has been under development since 2011. The main motivation for v2.0 was the lack of extensibility of NeuroML v1.x; every new 
                model type which was introduced into the language required an update to the Schema, updates to the text documentation and an implementation 
                in each of the native formats of the target simulators. NeuroML v2.0 is built on the LEMS (Low Entropy Model Specification) language, which allows 
                machine readable definitions of the cell, channel and synapse models which form the core of the language. This increases transparency of model structure 
                and dynamics and facilitates automatic mapping of the models to multiple simulation formats. More details on the structure of LEMS
                and how it is used in NeuroML v2.0 can be found in Cannon et al. 2014 and <a href="neuromlv2">here</a>. In parallel with development of NeuroML v2.0 
                and LEMS, software libraries for reading, writing and running simulations using the languages are under active development in Java and Python 
                (Vella et al. 2014).<br />
                <br />
                
                <strong>References:</strong>
            </p>
            
            <ul class="references">
                <li>Cannon, R.C., Gleeson, P., Crook, S., Ganapathy, G., Marin, B., Piasini, E. and Silver, R.A. (2014)
                        <a  href="http://journal.frontiersin.org/Journal/10.3389/fninf.2014.00079/abstract">LEMS: A language for expressing complex biological models 
                            in concise and hierarchical form and its use in underpinning NeuroML 2</a>, 
                            Frontiers in Neuroinformatics 8: 79.</li>
                </ul>
            <br/>
            
            <ul class="references">
                <li>Crook, S., P. Gleeson, F. Howell, J. Svitak and R.A. Silver (2007) <a href="http://www.ncbi.nlm.nih.gov/pubmed/17873371">MorphML: Level 1 of the</a><a href="http://www.ncbi.nlm.nih.gov/pubmed/17873371"> NeuroML standards for neuronal morphology data and model specification</a>. Neuroinformatics.5(2):96-104.</li>
            </ul>
            <br/>
            <ul class="references">
                <li>Gardner, D., K. H. Knuth, M. Abato, S. M. Erde, T. White, R. DeBellis, E. P. Gardner (2001)<a href="http://jamia.bmj.com/content/8/1/17.abstract"> Common data model for neuroscience data and data model exchange</a>. Journal of American Medical Informatics Association. 8:17-33.</li>
            </ul>
            <br/>
            <ul class="references">
                <li>Gleeson, P., V. Steuber, and R. A. Silver (2007) <a href="http://www.ncbi.nlm.nih.gov/pubmed/17442244">neuroConstruct: A Tool for Modeling Networks of</a><a href="http://www.ncbi.nlm.nih.gov/pubmed/17442244"> Neurons in 3D Space</a>. Neuron. 54(2):219-235.</li>
            </ul>
            <br/>
            <ul class="references">
                <li>Gleeson, P., S. Crook, R. C. Cannon, M. L. Hines, G. O. Billings, et al. (2010) <a href="http://www.ploscompbiol.org/article/info:doi/10.1371/journal.pcbi.1000815">NeuroML: A Language for Describing Data Driven Models of Neurons and Networks with a High Degree of Biological Detail</a>. PLoS Computational Biology 6(6): e1000815.</li>
            </ul>
            <br/>
            <ul class="references">
                <li>Goddard, N., M. Hucka, F. Howell, H. Cornelis, K. Shankar and D. Beeman (2001) <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1088511/">Towards</a><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1088511/"> NeuroML: Model description methods for collaborative modeling in neuroscience</a>. Philosophical Transactions of the Royal Society B. 356:1209-1228.</li>
            </ul class="references">
            <br/>
            <ul class="references">
                <li>Howell, F., R. Cannon, N. Goddard, H. Bringmann, P. Rogister and H. Cornelis (2003) <a href="http://www.sciencedirect.com/science/article/pii/S0925231202007816">Linking computational neuroscience simulation tools: A pragmatic approach to component-based development</a>. Neurocomputing. 52-54:289-294.</li>
            </ul>
            <br/>
            <ul class="references">
                <li>Qi, W. and S. Crook (2004) <a href="http://www.sciencedirect.com/science/article/pii/S0925231204001766">Tools for neuroinformatic data exchange: An XML application for</a><a href="http://www.sciencedirect.com/science/article/pii/S0925231204001766"> neuronal morphology data</a>. Neurocomputing. 58-60C:1091-1095.</li>
            </ul>
            <br/>
            <ul class="references">
                <li>Vella, M., Cannon, R.C., Crook, S., Davison, A.P., Ganapathy, G., Robinson, H.P., Silver, R.A. and Gleeson, P. (2014)

                    <a  href="http://www.ncbi.nlm.nih.gov/pubmed/24795618">libNeuroML and PyLEMS: using Python to combine procedural and declarative
                        modeling approaches in computational neuroscience.</a>
                    Frontiers in Neuroinformatics 8: 38.</li>
            </ul>
            <br/>


            <div class="clear"></div>
            <!-- ENDS project column (right) -->


        </div>
        <!-- ENDS content -->

    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->

