<style type="text/css">
    ul.structure,ul.innerstructure,, li { list-style: none; margin: 0; padding: 0; }
    ul.structure,ul.innerstructure { padding-left: 1em; }
    li.structurelist { padding-left: 1em; border: 1px solid black; border-width: 0 0 1px 1px; }
    li.container { border-bottom: 0px; }
    li.empty { font-style: italic; color: silver; border-color: silver; }
    li.structurelist p { margin: 0; background: white; position: relative; top: 0.5em; }
    li.structurelist ul.innerstructure { border-top: 1px solid black; margin-left: -1em; padding-left: 2em; }
</style>
<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">

        <!-- content -->
        <div id="content">

            <!-- title -->
            <div id="page-title">
                <span class="title">NeuroML File Structure</span>
            </div>
            <!-- ENDS title -->
            <ul class="structure">
                <li class="structurelist"><p>Home - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47index.html.erb </p></li>
                <li class="container structurelist"><p>Documents</p>
                    <ul class="innerstructure">
                        <li class="container structurelist"><p>NeuroML V2.0 - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47neuromlv2.html.erb</p>
                            <ul class="innerstructure">

                                <li class="structurelist"><p>NeuroML version 2.0 beta - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47neuromlv2.html.erb</p></li>
                                <li class="structurelist"><p>LEMS Mapping - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47lems_dev.html.erb</p></li>
                                <li class="structurelist"><p>libNeuroML - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47libnml.html.erb</p></li>
                                <li class="structurelist"><p>Compatibility With Others - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47compatibility.html.erb</p></li>
                                <li class="structurelist"><p>NML Specifications - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47specifications.html.erb</p></li>
                                <li class="structurelist"><p>Examples - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47</p></li>
                            </ul>
                        </li>
                        <li class="structurelist"><p>Lems - It is an external link</p></li>
                        <li class="structurelist"><p>Publications - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47relevant_publications.html.erb</p></li>
                        <li class="structurelist"><p>Workshop Reports - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47workshops.html.erb</p></li>
                    </ul>
                </li>
                <li class="container structurelist"><p>Tools</p>
                    <ul class="innerstructure">
                        <li class="structurelist"><p>Tool Support - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47tool_support.html.erb</p></li>
                        <li class="structurelist"><p>NML Validator - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47validate.html.erb</p></li>
                        <li class="structurelist"><p>Neuron Tools - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47neuron_tools.html.erb</p></li>
                        <li class="structurelist"><p>PyNN - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47pynn.html.erb</p></li>
                        <li class="structurelist"><p>X3D Tools - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47x3dtools.html.erb</p></li>
                    </ul>
                </li>
                <li class="container structurelist"><p>Models</p>
                    <ul class="innerstructure">
                        <li class="structurelist"><p>Browse Models - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47browse_models.html.erb</p></li>
                        <li class="structurelist"><p>Submit Models - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47model_submit.html.erb</p></li>
                        <li class="structurelist"><p>Search Models - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47search_result.html.erb</p></li>
                        <li class="structurelist"><p>Add Cell - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47add_cell.html.erb<p></li>
                                    </ul>
                                    </li>

                                    <li class="container structurelist"><p>Community</p>
                                        <ul class="innerstructure">
                                            <li class="structurelist"><p>History of NeuroML - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47history.html.erb</p></li>
                                            <li class="structurelist"><p>NeuroML Editorial Board - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47editors.html.erb</p></li>
                                            <li class="structurelist"><p>Scientific Committee - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47scientific_committee.html.erb</p></li>
                                            <li class="structurelist"><p>Acknowledgements - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47welcome&#47acknowledgements.html.erb</p></li>  
                                        </ul>

                                    </li>
                                    <li class="container structurelist"><p>Development</p>
                                        <ul class="innerstructure">
                                            <li class="structurelist"><p>Projects - &#47srv&#47http&#47rails&#47neuroml2_site&#47app&#47views&#47projects&#47index.html.erb</p></li>
                                        </ul>
                                    </li>

                                    </ul>

                                    <div class="clear"></div>
                                    <!-- ENDS project column (right) -->


                                    </div>
                                    <!-- ENDS content -->

                                    </div>
                                    <!-- ENDS wrapper-main -->
                                    </div>
                                    <!-- ENDS MAIN -->

