
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">NeuroML Editorial Board</span>
						</div>
						<!-- ENDS title -->

<p>An elected board of editors has been formed to manage the NeuroML specification development process. The editors are 
responsible for producing and maintaining the official documentation for the NeuroML language. Due to the close link between 
the development of NeuroML 2 and LEMS, this group is also responsible for producing a stable specification for the 
subset of LEMS used by NeuroML 2.</p>


<p>The five current members of the NeuroML Editorial Board are: <b>Upi Bhalla</b>, <b>Robert Cannon</b>, <b>Sharon Crook</b>, <b>Andrew Davison</b> and <b>Padraig Gleeson</b>. 
    Padraig Gleeson, Sharon Crook and Robert Cannon were elected for three year terms 2013 - 2016, Andrew Davison and Upi Bhalla were elected for three year terms 2015 - 2018. </p>
<br>
<br>
<div class="contributors">
<div id="row1">
    
<div class="contributor">
 <div class="contributor_image"><a href="http://www.ncbs.res.in/bhalla" target="_blank"><img src="../images/new_bhalla.png" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Upi Bhalla</b><br/>NCBS,<br/>Bangalore,India<br /><a href="http://www.ncbs.res.in/bhalla" target="_blank"><i>Website</i></a></div>
</div>

<div class="contributor">
 <div class="contributor_image"><a href="http://www.textensor.com/" target="_blank"><img src="../images/cannon.jpg" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Robert Cannon</b><br />Textensor Limited,<br />Edinburgh, UK<br /><a href="http://www.textensor.com/" target="_blank"><i>Website</i></a></div>
</div>


<div class="contributor">
 <div class="contributor_image"><a href="http://math.la.asu.edu/~crook/" target="_blank"><img src="../images/rsz_new_crook.jpg" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Sharon Crook</b><br />Arizona State University<br />USA<br /><a href="http://math.la.asu.edu/~crook/" target="_blank"><i>Website</i></a></div>
</div>

<div class="contributor">
 <div class="contributor_image"><a href="http://www.andrewdavison.info/" target="_blank"><img src="../images/andrew.jpg" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Andrew Davison</b><br />CNRS, Gif-sur-Yvette,<br />France<br /><a href="http://www.andrewdavison.info/" target="_blank"><i>Website</i></a></div>
</div>

<div class="contributor">
 <div class="contributor_image"><a href="http://www.neuroconstruct.org/" target="_blank"><img src="../images/new_padraig.jpg" width="100%" height="100%" /></a></div>
 <div class="contributor_description"><b>Padraig Gleeson</b><br />University College London,<br />UK<br /><a href="http://www.neuroconstruct.org/" target="_blank"><i>Website</i></a></div>
</div>


<h2>Procedures</h2>

<p>The procedures for election of the editorial board, its responsibilities, size and activities were heavily inspired by other
initiatives like <a href="http://sbml.org/Documents/SBML_Development_Process#The_SBML_Editors">SBML</a>, that have had 
successful editorial teams for many years. The <a href="http://co.mbine.org/standards">COMBINE initiative</a> seeks to 
promote community developed standards in computational biology, and the NeuroML editorial board will work with this 
initiative to ensure best practices in specification preparation.</p>


<h2>Responsibilities of the NeuroML Editors</h2>

<p>The editorial board consists of five members, elected by the NeuroML community. The main responsibilities are:</p>

<ul class="bluebullets">
<li>Defining and documenting the procedure for specification production: scope, release frequency, update procedures, 
    form of specification (web based or single pdf, etc.). This should be based on some or all of the recommendations for
    community based standards development from the <a href="http://co.mbine.org/standards">COMBINE initiative</a>. These
    procedures for specification production will have to be agreed with the <a href='scientific_committee'>NeuroML Scientific Committee</a>.</li>
        
<li>Preparing the core specification for the NeuroML language, using as a starting point the <a href="neuromlv2">NeuroML 2 beta</a> specification. 
    A first version of this may concentrate on the most well tested/widely supported parts of NeuroML 2, but it should evolve to include all 
    modelling areas within the scope of the language.</li>

<li>Testing reference implementations of NeuroML compliant applications.</li>

<li>Preparing a specification for the LEMS language. This can be a subset of the language supported by the reference 
    implementations in Java (<a href="http://github.com/LEMS/jLEMS/">jLEMS</a>) and Python 
    (<a href="https://github.com/LEMS/pylems">PyLEMS</a>), but will have to cover all of the LEMS elements required to 
    specify the <a href="http://www.neuroml.org/NeuroML2CoreTypes/Cells.html">ComponentType definitions for NeuroML 2</a>.</li>

<li>Responding to community queries about the specification.</li>

<li>Establishing a procedure for incorporating major changes into the specification (in cooperation with the 
    <a href='scientific_committee'>NeuroML Scientific Committee</a>).</li>
</ul>

<br />

<p>Participation in the editorial board will be on a volunteer basis, there is no central funding to support this work.</p>
    

<h2>Initial election of editors (2013)</h2>

<p>The first election of an editorial board for NeuroML took place in May/June 2013. </p>

<ul class="bluebullets">
<li>The electorate consisted of the members of the <a href='http://sourceforge.net/p/neuroml/mailman/'>NeuroML mailing lists</a> on 
    3rd May 2013</li>
    <li>Anyone on these lists could nominate someone to be an editor. Self nominations were also allowed.</li>
    <li>The three candidates who received the highest number of votes will serve three year terms and  the two with the next highest number 
        of votes will serve two year terms.</li>
    <li>Nicolas Le Nov&egrave;re (lenov -at- babraham.ac.uk) was the returning officer for this initial election.</li>
   <!-- <li>Nominations could outline briefly why that person was a good candidate for the role of NeuroML editor.</li> -->
        
</ul>	

<br />
<h2>Election of editors (2015)</h2>

<p>The second election of an editorial board for NeuroML took place in June/July 2015. </p>

<ul class="bluebullets">
<li>The electorate consisted of the members of the <a href='http://sourceforge.net/p/neuroml/mailman/'>NeuroML mailing lists</a> on 
    18 June 2015</li>
    <li>Anyone on these lists could nominate someone to be an editor. Self nominations were also allowed.</li>
    <li>The two candidates who received the highest number of votes would serve three year terms.</li>
    <li>Nicolas Le Nov&egrave;re (lenov -at- babraham.ac.uk) was the returning officer for this election.</li>
    <li>Results were announced <a href="https://sourceforge.net/p/neuroml/mailman/message/34331970/">here</a>.</li>
        
</ul>	

<br />
<br />
<h2>Editorial Board Meeting Reports</h2>


<p>Reports of the meetings of the NeuroML Editorial Board can be found <a href="workshops">here</a>. </p>

<br />

					<br />	
								<div class="clear"></div>
						<!-- ENDS project column (right) -->
						
						
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
