
<% nml2_version = 'v2beta3' %>  <!-- TODO: find a global location for this...-->

<!-- MAIN -->
<div id="main">
    <!-- wrapper-main-getnml -->
    <div class="wrapper">

        <!-- content -->
        <div id="content">

            <!-- title -->
            <div id="page-title">

                <span class="title">Get NeuroML</span>
            </div>
            <h2>Specifications & examples</h2>

            <br/>
            <table  id="longlist"  align="center"  width="500">
                <tr>
                    <th width="170">&nbsp;</th>
                    <th width="100" style="text-align:center">XML Schema</th>
                    <th width="100" style="text-align:center">Documentation</th>
                    <th width="100" style="text-align:center">Examples</th>
                    <th width="100" style="text-align:center">Publication</th>
                </tr>
                <tr style="height: 40px">
                    <td>&nbsp;<b>LEMS</b></td>
                    <td style="text-align:center"><a href="https://github.com/LEMS/LEMS/blob/master/Schemas/LEMS/LEMS_v0.7.1.xsd">LEMS_v0.7.1.xsd</a></td>
                    <td style="text-align:center"><a href="http://lems.github.io/LEMS/elements.html">LEMS element definitions</a></td>
                    <td style="text-align:center"><a href="https://github.com/LEMS/LEMS/tree/master/examples">LEMS examples</a></td>
                    <td style="text-align:center"><a  href="http://journal.frontiersin.org/Journal/10.3389/fninf.2014.00079/abstract">Cannon et al. 2014</a></td>
                </tr>
                <tr>
                    <td>&nbsp;<b>NeuroML <%=nml2_version%></b><br/>&nbsp;&nbsp;&nbsp;&nbsp;(<a href="http://www.opensourcebrain.org/docs#Converting_To_NeuroML2">Why convert to NeuroML2?</a>)</td>
                    <td style="text-align:center"><a href="https://github.com/NeuroML/NeuroML2/blob/master/Schemas/NeuroML2/NeuroML_<%=nml2_version%>.xsd">NeuroML_<%=nml2_version%>.xsd</a></td>
                    <td style="text-align:center"><a href="http://www.neuroml.org/NeuroML2CoreTypes/">NeuroML 2 Core ComponentTypes</a><br/> (<a href="https://github.com/NeuroML/NeuroML2/blob/master/NeuroML2CoreTypes">Source in LEMS</a>)</td>
                    <td style="text-align:center"><a href="https://github.com/NeuroML/NeuroML2/tree/master/examples">NeuroML 2 examples</a><br/> (<a href="http://www.opensourcebrain.org/status">NML2 models on Open Source Brain</a>)</td>
                    <td style="text-align:center"><a  href="http://journal.frontiersin.org/Journal/10.3389/fninf.2014.00079/abstract">Cannon et al. 2014</a></td>
                </tr>
                <tr>
                    <td>&nbsp;<b>NeuroML v1.8.1</b></td>
                    <td style="text-align:center"><a href="http://sourceforge.net/p/neuroml/code/HEAD/tree/trunk/web/NeuroMLFiles/Schemata/v1.8.1/">NeuroML v1.8.1 Schemas</a></td>
                    <td style="text-align:center"><a href="/specifications">Specifications</a></td>
                    <td style="text-align:center"><a href="/examples">NeuroML v1.x examples</a><br/>(<a href="https://github.com/OpenSourceBrain/redmine/issues/119">NML1 models on Open Source Brain</a>)</td>
                    <td style="text-align:center"><a  href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000815">Gleeson et al. 2010</a></td>
                </tr>
            </table>

            <h2>Implementations & APIs in Java and Python</h2>
            <br/>
            <table  id="longlist"  align="center"  width="500">
                <tr>
                    <th width="200" style="text-align:center">&nbsp;</th>
                    <th width="100" style="text-align:center">Java</th>
                    <th width="100" style="text-align:center">Python</th>
                </tr>
                <tr>
                    <td>&nbsp;Read, validate & execute LEMS XML files</td>
                    <td style="text-align:center"><a href="http://github.com/LEMS/jLEMS/">jLEMS</a></td>
                    <td style="text-align:center"><a href="https://github.com/LEMS/pylems">PyLEMS</a><br/> (<a href="http://journal.frontiersin.org/Journal/10.3389/fninf.2014.00038/abstract">Vella et al. 2014</a>)</td>
                </tr>
                <tr>
                    <td>&nbsp;Read & write NeuroML 2 files</td>
                    <td style="text-align:center"><a href="https://github.com/NeuroML/org.neuroml.model">Java API for NeuroML 2</a></td>
                    <td style="text-align:center"><a href="https://github.com/NeuralEnsemble/libNeuroML">libNeuroML</a><br/> (<a href="http://journal.frontiersin.org/Journal/10.3389/fninf.2014.00038/abstract">Vella et al. 2014</a>)</td>
                </tr>
                <tr><td>&nbsp;Everything...</td>
                    <td style="text-align:center"><a href="https://github.com/NeuroML/jNeuroML">jNeuroML</a><br/><i>Parse & execute LEMS; validate NeuroML v1/v2; convert LEMS to graphical format, NEURON, Brian, etc.; convert SBML to LEMS...</i></td>
                    <td style="text-align:center"><a href="https://github.com/NeuroML/pyNeuroML">pyNeuroML</a><br/><i>A Python module that wraps jNeuroML and allows (so far only some of) its functionality to be accessed from Python scripts.</i></td>
                    
                </tr>
            </table>



            <div class="clear"></div>
            <!-- ENDS project column (right) -->


        </div>
        <!-- ENDS content -->

    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->

