

<% nml2_version = 'v2beta3' %>  <!-- TODO: find a global location for this...-->


<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">

        <!-- content -->
        <div id="content">

            <!-- title -->
            <div id="page-title">
                <span class="title">NeuroML Version 2.0</span>
            </div>
            <!-- ENDS title -->

            <ul style="margin-left:auto;margin-right:auto;width:560px;"class="filter">
                <li></li>
                <li><a href="/neuromlv2" >NeuroML version <%=nml2_version%></a></li>
                <li><a href="/lems_dev" > LEMS and NeuroML 2 </a></li>
                <li class="active"><a href="/mappings" > Mapping to other formats </a></li>
            </ul>
            
            <img src="../images/tabs-divider.png" height="2" width="100%" />

            <h1>Mapping NeuroML & LEMS to other simulators and output formats</h1>
            <br/>

            <p>A key requirement in the development of NeuroML 2 was making it easier to map the model elements to other formats, not only to dedicated neuronal simulators, but to other 
            generic numerical solvers and even graphical formats to increase accessibility of the model structure and dynamics. This is enabled by having access to the model definitions in 
            a machine readable form  using LEMS.</p>
            
            <p align="center"><img alt="Mapping to other formats" src="images/Figure7a.png"/></p>
                


            <p align="center"><i>This figure (taken from <a href="http://journal.frontiersin.org/Journal/10.3389/fninf.2014.00079/abstract">Cannon et al. 2014</a>)
                    shows illustrates how biological models at different physical scales and with varying levels of biological realism can be mapped into representations in LEMS.
                    This mapping to LEMS can be made through the use of predefined, domain specific <b>ComponentType</b> definitions 
                    (e.g. for <a href="http://www.neuroml.org/NeuroML2CoreTypes/Cells.html">NeuroML 2</a>) or by importing from other structured modelling formats (e.g. SBML). 
                    Files in LEMS can then be simulated with the reference implementations, <a href="https://github.com/LEMS/jLEMS">jLEMS</a> or 
                    <a href="https://github.com/LEMS/pyLEMS">PyLEMS</a>, or exported to a number of other formats. <a href="https://github.com/NeuroML/jNeuroML">jNeuroML</a> is a 
                    collection of utilities in Java for handling these transformations. Export formats include neuronal simulators <a href="#NEURON">NEURON</a> and 
                    <a href="#NEURON">Brian</a>, <a href="#MATLAB">MATLAB</a> or <a href="#C">C code</a> for simulating 
                        the models with solvers in these languages, <a href="#Modelica">Modelica</a>, <a href="#XPP">XPP</a> and <a href="#SBML">SBML</a>.</i></p>



            
            <a name="NEURON">&nbsp;</a>
            <h3>NEURON</h3>
            <p>A wide range of single cells (abstract to multicompartmental), networks and non NeuroML LEMS models can be mapped to NEURON (hoc and mod files).</p>
            <p>A LEMS or NeuroML 2 model can be mapped to this format with <a href="https://github.com/NeuroML/jNeuroML">jNeuroML</a> using:</p>
            <p class="code">jnml LEMS_MyModel.xml -neuron [-nogui] [-run]</p>
            <p>The Java source for this mapping is <a href="https://github.com/NeuroML/org.neuroml.export/blob/master/src/main/java/org/neuroml/export/neuron/NeuronWriter.java">here</a>
                (<a href="https://github.com/NeuroML/org.neuroml.export/blob/development/src/main/java/org/neuroml/export/neuron/NeuronWriter.java">active development version</a>).</p>
            
            <a name="SBML">&nbsp;</a>
            <h3>SBML</h3>
            <p>There is a mapping of LEMS Components to SBML. This currently focuses on single Components (potentially in a population of size 1 in a network), since there is not
                yet support for arrays of compartments in the core of SBML.</p>
            <p>A LEMS or NeuroML 2 model can be mapped to this format with <a href="https://github.com/NeuroML/jNeuroML">jNeuroML</a> using:</p>
            <p class="code">jnml LEMS_MyModel.xml -sbml</p>
            <p>SBML models can be imported into LEMS format using:</p>
            <p class="code">jnml -sbml-import SBMLFile.sbml duration dt</p>
            <p>The Java source for the export to SBML is <a href="https://github.com/NeuroML/org.neuroml.export/blob/master/src/main/java/org/neuroml/export/sbml/SBMLWriter.java">here</a>
                (<a href="https://github.com/NeuroML/org.neuroml.export/blob/development/src/main/java/org/neuroml/export/sbml/SBMLWriter.java">active development version</a>).
            Import of SBML to LEMS is <a href="https://github.com/NeuroML/org.neuroml.import/blob/master/src/main/java/org/neuroml/importer/sbml/SBMLImporter.java">here</a>
            (<a href="https://github.com/NeuroML/org.neuroml.import/blob/development/src/main/java/org/neuroml/importer/sbml/SBMLImporter.java">active development version</a>)</p>
            
            <a name="Brian">&nbsp;</a>
            <h3>Brian</h3>
            <p>There is a mapping of LEMS Components to Brian. This currently focuses on single Components.</p>
            <p>A LEMS or NeuroML 2 model can be mapped to this format with <a href="https://github.com/NeuroML/jNeuroML">jNeuroML</a> using:</p>
            <p class="code">jnml LEMS_MyModel.xml -brian</p>
            <p>The Java source for this mapping is <a href="https://github.com/NeuroML/org.neuroml.export/blob/master/src/main/java/org/neuroml/export/brian/BrianWriter.java">here</a>
                (<a href="https://github.com/NeuroML/org.neuroml.export/blob/development/src/main/java/org/neuroml/export/brian/BrianWriter.java">active development version</a>).</p>

            <a name="Others">&nbsp;</a>
            <h3>Other formats</h3>
            <p>A full list of export formats using <a href="https://github.com/NeuroML/jNeuroML">jNeuroML</a> can be found with:</p>
            <p class="code">jnml -help</p>
            <p>The Java source for all these mapping is <a href="https://github.com/NeuroML/org.neuroml.export/blob/master/src/main/java/org/neuroml/export">here</a> 
                and <a href="https://github.com/NeuroML/org.neuroml.export/tree/master/src/main/java/org/lemsml/export">here</a>.</p>

            <br/>
            <h2>How do I convert my models to NeuroML 2?</h3>
            
            <br/>
            <p>Some pointers for converting models to NeuroML 2 can be found on the OpenSource Brain website 
            <a href="http://www.opensourcebrain.org/docs#Converting_To_NeuroML2">here</a>.

            <br/>
                <div class="clear"></div>
                <!-- ENDS project column (right) -->


        </div>
        <!-- ENDS content -->

    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->

