
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">First NeuroML Development Workshop, March 9-10, 2009</span>
						</div>
						

<b>Biophysical Single Cell Modeling<br>
</b>
<br>
<b>Organizers: Angus Silver, Padraig Gleeson, and Sharon Crook</b><br>
<br>
<b>Summary<br></b>
<p>The complexity of problems associated with structure and function in neuroscience requires that research from multiple groups across many disciplines be combined.
In order to combine research from multiple groups, there must be an infrastructure for exchanging model specifications; however, the current use of multiple formats for
encoding model information has hampered model exchange.</p>

<p>NeuroML is a model description language developed in XML (extensible Markup Language) that was created to facilitate data archiving, data and model exchange, database creation,
and model publication in the neurosciences. One of the goals of the NeuroML project is to develop standards for model specification that will allow for greater simulator interoperability
and model exchange.</p>

<p>The declarative specifications produced by the NeuroML standards project are arranged into levels, with higher levels adding extra concepts. Level 1 deals with neuroanatomical information
(MorphML) and metadata. Level 2 allows for specification of cell models with realistic channels (ChannelML) and synaptic mechanisms distributed on their membranes, and Level 3 describes
networks of these cells in three dimensions (NetworkML). </p>

<p>A workshop was organised in March of 2009 at University College London to bring together members of the computational neuroscience community that includes modelers, software developers and
experimentalists to focus on the refinement of NeuroML for single cell modeling including ChannelML and the biophysical description of cells.</p>

<p>The minutes of this meeting are available <a href="files/NeuroMLWorkshop2009.pdf">here</a>. The meeting set goals towards the development of a draft specification for 
    NeuroML version 2.0. This work will continue at the <a href="http://math.la.asu.edu/~cans/workshop.html">2nd NeuroML Development Workshop</a> in Arizona State University on
    March 4-5, 2010</p>



<br>
<br>		
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
