
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">Models</span>
						</div>
						<!-- ENDS title -->
						
						
						
								<div class="clear"></div>
						<!-- ENDS project column (right) -->
					<table id="highlighted" align="center" bgcolor="#CECEDE" border="1px" width="40%" frame="box">
<tr><td>These models have been moved to a new repository to allow open source, collaborative development of NeuroML models.  <br/><br/>
See the <a href="http://www.opensourcebrain.org">Open Source Brain</a> website for full details.
</td><td><img alt="Open Source Brain" src="images/OSBLogo.png"/></td></tr></table>
<br/>


<br>
<p>There are also a number of standalone <a href="http://spike.la.asu.edu/NeuroMLValidator/Samples.jsp">examples of NeuroML files</a> available on this website.</p>
	
						
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
