<div id="main">
                                <!-- wrapper-main -->
                                <div class="wrapper">

                                        <!-- content -->
                                        <div id="content">

                                                <!-- title -->
                                                <div id="page-title">
                                                <h2>Welcome to NeuroML Database</h2>
                                                </div>
                                                <!-- ENDS title -->



 


<p>The Neural Open Markup Language project, NeuroML, is an international, collaborative initiative to develop a language for describing and sharing complex, multiscale neuron and neuronal network models. The project focuses on the key objects that need to be exchanged among software applications used by computational neuroscientists. Examples of these objects include descriptions of neuronal morphology, the dynamics of ion channels and synaptic mechanisms, and the connectivity patterns of networks of model neurons. This modular approach brings additional benefits: not only can entire models be published and exchanged in this format, but each individual object or component, such as a specific calcium channel or excitatory synapse, can be shared and re-implemented in a different model.

The NeuroML Database is a relational database that provides a means for exchanging these NeuroML model descriptions and their components. One of our goals is to contribute to an efficient tool chain for model development using NeuroML. This emphasis allows the database design and subsequent searching to take advantage of this specific format. In particular, the NeuroML database allows for efficient searches over the components of models and metadata that are associated with a hierarchical NeuroML model description.</p>
</p>	

</div>

</div>
</div>




             







