<div class="overflowcontent">
<div id='cssmenu'>
<ul>
   <li><a href='/lems'><span>About</span></a></li>
   <li><a href='/lems_intro'><span>Introduction</span></a></li>
   <li><a href='/lems_elements'><span>Elements</span></a></li>
   <li><a href='/lems_download'><span>Download</span></a></li>
   <li><a href='/lems_example1'><span>Example 1</span></a></li>
   <li><a href='/lems_example2'><span>Example 2</span></a></li>
   <li><a href='/lems_example3'><span>Example 3</span></a></li>
   <li><a href='/lems_example4'><span>Example 4</span></a></li>
   <li><a href='/lems_example5'><span>Example 5</span></a></li>
   <li><a href='/lems_example6'><span>Example 6</span></a></li>
   <li><a href='/lems_example7'><span>Example 7</span></a></li>
   <li><a href='/lems_example_regimes'><span>Regimes Example</span></a></li>
   <li><a href='/lems_example_n'><span>Example n</span></a></li>
   <li><a href='/lems_neuroml2'><span>NeuroML2.0 Example</span></a></li>
   <li class='active'><a><span>Canonical Form</span></a></li>
   <li><a href='/lems_discussion'><span>Discussion</span></a></li>
</ul>
</div>
<div class="lems_content">    
<h1>Canonical form</h1>
    
    
    
<p>
        The present proposal is not a canonical form for a model. Rather, it is a concise human accessible format that 
        is intended to have a 1-1 mapping to some canonical form. The reason for defining the human accessible one first is 
        that it is easier to work with. As long as the mapping is easily applied and lossless, then there is little reason 
        ever to look at models expressed in the canonical form. Indeed, provided it is genuineley lossless, then it doesn't much 
        matter which form of a model is treated as the primary version, although it seems more likely that other tools 
        will support the canonical form than the human readable one.
    </p>
    
    
    
<p>
        Turning a model specification into its canonical form involves:
    </p>
    
<ul>
        
<li>Parsing expressions and writing out MathML</li>
        
<li>Converting quantities to their SI values and putting the original units in metadata elements
        (the canonical form has dimensions but no units)</li>
        
<li>Using the "Component type='xyz'" format for model elements</li>
    
</ul>
    
    
<p>
        The interpreter should be able to do this at some stage, but it doesn't yet. Ideally, the conversion 
        should be implemented in XSL too since that is probably the simplest dependency for other systems to swallow.
        An XSL mapping to a canonical form would also provide a working reference as to what that form actually is 
        until, and possibly even after, the documentation caught up.
    </p>
    
    
    
    
<h2>Other XML formats</h2>
    
    
<p>
        As well as the canonical form for a minimally redundant model specification, there are two other XML formats 
        that could usefully be generated: 
    </p>
    
<ul>
        
<li>The expanded version of a model where component references are dereferenced. This is the version over which
        specification level paths operate.</li>
        
<li>The instantiated version of a model, where every state variable appears in the XML. This is the tree over which
        run-time paths operate.</li>
    
</ul>
    
<p>
        In general, of course, the second of these will never be generated, but it is useful to be able to construct it for 
        particular models when writing paths for their behaviors. These two trees can be generated with ... (not yet).
    </p>




<h2>Partial example - model from example1 in XML canonical form</h2>

<p>
    The following is by no means complete (only some of the sub-element types for type definitions and components are included)
    but it gives an indication of what the canonical format could look like.
</p>


<div class="fileincludetitle">ex1canonical.xml
            (<a href="ex1canonical.xml">xml</a>)
        </div>
<div class="xcodefile">
<div class="xcodeelement">&lt;<span class="xmlverb-element-name">Lems</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">mass</span>&gt;<span class="xmlverb-text">1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">mass</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">length</span>&gt;<span class="xmlverb-text">2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">length</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">-3</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">-1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">time</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">per_time</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">-1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">conductance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">mass</span>&gt;<span class="xmlverb-text">-1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">mass</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">length</span>&gt;<span class="xmlverb-text">-2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">length</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">3</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">capacitance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">mass</span>&gt;<span class="xmlverb-text">-1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">mass</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">length</span>&gt;<span class="xmlverb-text">-2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">length</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">4</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">time</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">current</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">current</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">none</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Dimension</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">iaf1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">threshold</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">refractoryPeriod</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">time</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">capacitance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">capacitance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">iaf2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">iaf1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">iaf3</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">iaf1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">leakConductance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">conductance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">leakReversal</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">deltaV</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">EventPort</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">spikes-in</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">direction</span>&gt;<span class="xmlverb-text">in</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">direction</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">EventPort</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">spikeGenerator</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">period</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">time</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">EventPort</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">a</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">direction</span>&gt;<span class="xmlverb-text">out</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">direction</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">EventPort</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">spikeGenerator2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">spikeGenerator</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">EventPort</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">a</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">direction</span>&gt;<span class="xmlverb-text">out</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">direction</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">EventPort</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">rate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">per_time</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">midpoint</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">scale</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHExpRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHSigmoidRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHExpLinearRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHGate0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">power</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">none</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">Forward</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">Reverse</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHGate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">power</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">none</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">Forward</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">Reverse</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">HHRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">componentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Child</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHChannel</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">conductance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">conductance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Children</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">gates</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHGate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Children</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">ChannelPopulation</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">number</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">none</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">erev</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentRef</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">channel</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHChannel</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentRef</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">HHCell</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">capacitance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">capacitance</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">injection</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">current</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">v0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">voltage</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">dimension</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Parameter</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Children</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">populations</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">name</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">ChannelPopulation</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Children</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">ComponentType</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">celltype_a</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">iaf1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">threshold</span>"&gt;<span class="xmlverb-text">-0.03</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">refractoryPeriod</span>"&gt;<span class="xmlverb-text">0.002</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">capacitance</span>"&gt;<span class="xmlverb-text">3.0E-6</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">ctb</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">iaf1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">threshold</span>"&gt;<span class="xmlverb-text">-0.03</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">refractoryPeriod</span>"&gt;<span class="xmlverb-text">0.002</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">capacitance</span>"&gt;<span class="xmlverb-text">1.0E-6</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">na</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHChannel</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">conductance</span>"&gt;<span class="xmlverb-text">2.0E-11</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">m</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHGate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">power</span>"&gt;<span class="xmlverb-text">3.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHExpLinearRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">rate</span>"&gt;<span class="xmlverb-text">1000.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">midpoint</span>"&gt;<span class="xmlverb-text">-0.04</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">scale</span>"&gt;<span class="xmlverb-text">0.01</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHExpRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">rate</span>"&gt;<span class="xmlverb-text">4000.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">midpoint</span>"&gt;<span class="xmlverb-text">-0.065</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">scale</span>"&gt;<span class="xmlverb-text">-0.018000000000000002</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">h</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHGate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">power</span>"&gt;<span class="xmlverb-text">1.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHExpRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">rate</span>"&gt;<span class="xmlverb-text">70.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">midpoint</span>"&gt;<span class="xmlverb-text">-0.065</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">scale</span>"&gt;<span class="xmlverb-text">-0.02</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHSigmoidRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">rate</span>"&gt;<span class="xmlverb-text">1000.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">midpoint</span>"&gt;<span class="xmlverb-text">-0.035</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">scale</span>"&gt;<span class="xmlverb-text">0.01</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">k</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHChannel</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">conductance</span>"&gt;<span class="xmlverb-text">2.0E-11</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">n</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHGate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">power</span>"&gt;<span class="xmlverb-text">4.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHExpLinearRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">rate</span>"&gt;<span class="xmlverb-text">100.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">midpoint</span>"&gt;<span class="xmlverb-text">-0.055</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">scale</span>"&gt;<span class="xmlverb-text">0.01</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHExpRate</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">rate</span>"&gt;<span class="xmlverb-text">125.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">midpoint</span>"&gt;<span class="xmlverb-text">-0.065</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">scale</span>"&gt;<span class="xmlverb-text">-0.08</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">hhcell_1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">HHCell</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">capacitance</span>"&gt;<span class="xmlverb-text">1.0E-12</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">injection</span>"&gt;<span class="xmlverb-text">4.0E-12</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">v0</span>"&gt;<span class="xmlverb-text">-0.06</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">ChannelPopulation</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">number</span>"&gt;<span class="xmlverb-text">6000.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">erev</span>"&gt;<span class="xmlverb-text">0.05</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">null</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">ChannelPopulation</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">number</span>"&gt;<span class="xmlverb-text">1800.0</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">erev</span>"&gt;<span class="xmlverb-text">-0.077</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">celltype_c</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">iaf3</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">leakConductance</span>"&gt;<span class="xmlverb-text">3.0E-12</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">leakReversal</span>"&gt;<span class="xmlverb-text">-0.05</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">deltaV</span>"&gt;<span class="xmlverb-text">0.005</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">threshold</span>"&gt;<span class="xmlverb-text">0.045</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">refractoryPeriod</span>"&gt;<span class="xmlverb-text">0.003</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">capacitance</span>"&gt;<span class="xmlverb-text">1.0E-6</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">celltype_d</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">celltype_c</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">extends</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">leakConductance</span>"&gt;<span class="xmlverb-text">5.0E-12</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">leakReversal</span>"&gt;<span class="xmlverb-text">-0.05</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">deltaV</span>"&gt;<span class="xmlverb-text">0.005</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">threshold</span>"&gt;<span class="xmlverb-text">0.045</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">refractoryPeriod</span>"&gt;<span class="xmlverb-text">0.003</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">capacitance</span>"&gt;<span class="xmlverb-text">1.0E-6</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">gen1</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">spikeGenerator</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">period</span>"&gt;<span class="xmlverb-text">0.03</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">gen2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">spikeGenerator2</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">period</span>"&gt;<span class="xmlverb-text">0.032</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

&nbsp;&nbsp;&nbsp;</span>
<br>
<br>&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">iaf3cpt</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">id</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">iaf3</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">type</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">leakConductance</span>"&gt;<span class="xmlverb-text">5.0E-11</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">leakReversal</span>"&gt;<span class="xmlverb-text">-0.05</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">deltaV</span>"&gt;<span class="xmlverb-text">0.05</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">threshold</span>"&gt;<span class="xmlverb-text">-0.03</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">refractoryPeriod</span>"&gt;<span class="xmlverb-text">0.004</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="xmlverb-element-name">value</span> <span class="xmlverb-attr-name">parameter</span>="<span class="xmlverb-attr-content">capacitance</span>"&gt;<span class="xmlverb-text">1.0E-12</span>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">value</span>&gt;<span class="xmlverb-text">
&nbsp;&nbsp;&nbsp;</span>
<br>&nbsp;&nbsp;&nbsp;&lt;/<span class="xmlverb-element-name">Component</span>&gt;<span class="xmlverb-text">

</span>
<br>&lt;/<span class="xmlverb-element-name">Lems</span>&gt;<br>

</div>
</div>
</div>
</div>
